*{
    font-family:raleway, sans-serif;
    font-family: ;
    font-size: 18px;
    line-height: 25px;
}


header img {
    width:20%;
}
.location img{
    width:40%;
    float: left;
}


.location div{
  
    float: left;
    width: 280px;
    padding: 0 10px;
}

.location span{
    font-size: 16px;
    font-weight: bold;
}
         
.location{
    height:400px;
}


.workingHour img {
width: 282px;
float:right;
height: 282px;
}

section{
    margin: 80px 0;
}
.workingHour p{
    width: 650px;
    padding: 0 10px;

}
h2{
    /* background-color: rgb(224, 215, 215); */
  
    padding:50px 0;
    color: brown;
    font-size: 25px;
font-weight: bold;
text-align: center;
width: 500px;
margin: 0 auto;
}

.workingHour{
    height: 400px;
}

.contactus img{
    height: 175px;
}
.ourstory {
    background-color:#a52a2aba
}
.ourstory p{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.ourstory h2 {
    color: white;
}
p{
    text-align: justify;
    margin-bottom: 12px;
}
header{

    height: 150px;
    background-color: brown;
}

header a{
    text-decoration: none;
    font-size: 30px;
    color:white;
    padding: 0 15px;
}
ul{
    float: right;
    position: relative;
    bottom: 80px;
    right: 200px;

}

li{
    display: inline;
    
}
h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 4px;
    font-family: cursive;
}
body{
    background-color: #eeebdd;
}

.contactus img {
    float: left;
    height: 220px;
}
.contactus {
    height: 400px;
}
.contactus p {
    padding: 0 20px;
    float: left;
}
footer{
    text-align: center;
    font-size: 20px;
    padding: 25px 0;
    height: 80px;
    background-color: brown;
    color:white;
    line-height: 80px;
}
img{
    border-radius: 5px;
}

#wh{
    width: 500px;
    padding-top: 10px;
    color: brown;

}

#locationForm {
    margin: 0 auto;
  
    width:400px;
}
#locationForm label {
    width: 80px;
    display: inline-block;
}
main legend {
    color: brown;
    font-weight: bold;
    padding-bottom: 15px;
}

.salesimg{
    position: absolute;
    top: 170px;
    left: 200px;
    width: 300px;
} 
}